:host {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
  position: relative;

  &[data-type="number"] {
    text-align: right;
  }

  &:not([data-type="template"], [data-type="component"]) {
    padding-inline: var(--sci-table-cell-horizontal-padding);
  }

  > .cell {
    display: inline; // makes sure text-overflow works inside
  }
}
