@let _cell = cell();
<div class="cell" #cellElement>
  @switch (_cell.type) {
    @case ('template') {
      <ng-template *ngTemplateOutlet="_cell.template().template; context: templateContext()" />
    }
    @case ('component') {
      <ng-container #componentOutlet></ng-container>
    }
    @case ('boolean') {
      @let value = _cell.value();
      @if (value) {
        <sci-icon class="checkbox" data-checked="true">scion.checkmark</sci-icon>
      } @else {
        <sci-icon class="checkbox">scion.clear</sci-icon>
      }
    }
    @default {
      {{_cell.value()}}
    }
  }
</div>


