@let _cell = cell();
<div class="cell" [class.checkbox]="_cell.type === 'boolean'" #cellElement>
  @switch (_cell.type) {
    @case ('template') {
      <ng-template *ngTemplateOutlet="_cell.template().template; context: templateContext()" />
    }
    @case ('component') {
      <ng-container #componentOutlet></ng-container>
    }
    @case ('boolean') {
      @if (_cell.value()) {
        <span class="material-symbols-outlined">check</span>
      }
    }
    @default {
      {{_cell.value()}}
    }
  }
</div>


