:host {
  display: inline-grid; // fit content to the cell
  position: relative; // positioning context for cell content
  border-inline: var(--ɵsci-table-cell-padding-inline) solid transparent; // use border instead of padding to maintain column gap if cell content overflows
  align-items: center; // center custom cell content vertically
  overflow: hidden; // prevent text and custom content to overflow cell

  // Enable ellipsis on number and string columns.
  &:is([data-type="string"], [data-type="number"]) {
    display: inline; // ellipsis is only supported on block or inline-block elements
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: var(--ɵsci-table-row-height); // required to center text vertically
  }

  &[data-type="number"] {
    text-align: end;
  }

  &[data-padding="false"] {
    border-inline: none;
    align-items: stretch; // fill entire cell vertically
  }
}
