@let cell = this.cell();


@if (row().index === 0 && (row().hasChildren | async)) {
  <button class="toggle-children e2e-toggle-children" (click)="toggleChildren($event)">
    @if (isExpanded()) {
      <sci-icon class="e2e-expanded">scion.chevron_down</sci-icon>
    } @else {
      <sci-icon class="e2e-collapsed">scion.chevron_right</sci-icon>
    }
  </button>
}

@switch (cell.type) {
  @case ('template') {
    <ng-template *ngTemplateOutlet="template(); context: templateContext()"/>
  }
  @case ('component') {
    <ng-container *sciComponentOutlet="cell.component"/>
  }
  @case ('boolean') {
    <!-- TODO [dwi] Use another ligature for icon scion.clear -->
    <sci-icon class="checkbox">{{cell.value() ? 'scion.checkmark' : 'scion.clear'}}</sci-icon>
  }
  @default {
    {{cell.value()}}
  }
}
