/**
 * Defines colors of the default theme to style components of the SCION internal component library.
 *
 * A theme consists of the color palettes 'primary', 'accent' and 'warn'. A palette is a map of hues to colors.
 * It also defines a default color, and a lighter and darker variation of the default color.
 *
 * Primary:     Main colors most widely used across all screens and components.
 * Accent:      Also known as the secondary color. Use it sparingly to accent parts of the UI.
 * Warn:        Colors to convey error state.
 *
 * Foreground:  Used for text and icons.
 * Background:  Used for element backgrounds.
 */
$default: (
  primary: (
    50: #fafafa,
    100: #f5f5f5,
    200: #eeeeee,
    300: #e0e0e0,
    400: #bdbdbd,
    500: #9f9f9f,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    default: 500,
    lighter: 400,
    darker: 600,
  ),
  accent: (
    50: #D3E3FE,
    100: #A7C6FD,
    200: #7BAAFC,
    300: #4E8EFA,
    400: #2271F9,
    500: #0659E8,
    600: #0548BC,
    700: #04378F,
    800: #03307E,
    900: #03296C,
    default: 700,
    lighter: 400,
    darker: 900,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    default: 600,
    lighter: 500,
    darker: 700,
  ),
  foreground: #000000,
  background: #FFFFFF,
);