:host {
  display: grid;
  grid-auto-rows: var(--sci-table-header-height);
  user-select: none;

  // Prevent hovering header while resizing.
  @container (style(--ɵsci-table-resizing: true)) {
    pointer-events: none;
  }

  &.filterable {
    border-bottom: var(--sci-table-border-size) solid var(--sci-table-border-color);
  }

  > button.column-sort {
    all: unset;
    box-sizing: border-box;
    padding-inline: .5em;
    border-bottom: var(--sci-table-border-size) solid var(--sci-table-border-color);
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    gap: .5em;

    &.sortable {
      cursor: var(--sci-table-header-cursor);

      &:is(:focus-visible, :hover) {
        background-color: var(--sci-table-header-background-color-hover);

        > span.sort {
          display: flex;
          flex-direction: column;

          sci-icon:first-child {
            transform: translateY(2px);
          }

          sci-icon:last-child {
            transform: translateY(-2px);
          }
        }
      }

      > span.sort {
        display: none;
      }
    }

    > span.label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      flex-shrink: 0;
    }
  }
}
