:host {
  display: grid;
  grid-template-columns: 1fr auto;

  > div.header {
    display: grid;
    grid-auto-rows: var(--sci-table-header-row-size);

    &.filterable {
      border-bottom: 1px solid var(--sci-color-border);
    }

    > button.column-sort {
      all: unset;
      box-sizing: border-box;
      padding-inline: .5em;
      border: 1px solid transparent;
      border-bottom-color: var(--sci-color-border);
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto;
      align-items: center;
      gap: .5em;

      &.sortable {
        cursor: pointer;

        &:focus-visible {
          border-color: var(--sci-color-accent);
        }

        &:is(:focus-visible, :hover) {
          background-color: var(--sci-color-background-secondary-hover);
          
          > span.sort {
            visibility: visible;
            display: flex;
            flex-direction: column;

            sci-icon:first-child {
              transform: translateY(2px);
            }

            sci-icon:last-child {
              transform: translateY(-2px);
            }
          }
        }

        > span.sort {
          visibility: hidden;
        }
      }

      > span.text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        flex-shrink: 0;
      }
    }
  }

  > div.delimiter {
    width: 1px;
    background-color: var(--sci-splitter-background-color);
  }
}