:host {
  display: grid;
  grid-template-columns: 1fr auto;
  height: var(--ɵsci-table-header-size);

  > div.header {
    display: grid;
    grid-auto-rows: 1fr;

    > button.column-sort {
      all: unset;
      box-sizing: border-box;
      padding: .25em .5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid transparent;
      font-weight: bold;
      display: flex;
      align-items: start;
      gap: .5em;

      &[data-filterable="true"] {
        border-bottom-color: var(--sci-color-border);
      }

      &[data-sortable="true"] {
        cursor: pointer;
      }

      &:focus-visible {
        border-color: var(--sci-color-accent);
      }

      &::after {
        content: '';
        height: 100%;
      }

      &[data-sort="asc"]::after {
        content: '↑';
      }

      &[data-sort="desc"]::after {
        content: '↓';
      }
    }
  }


  > div.delimiter {
    width: 1px;
    background-color: var(--sci-splitter-background-color);
  }
}