@if (column().sortable()) {
  <button class="sort e2e-sort"
          [attr.data-sort-direction]="sortDirection()"
          (click)="onSort($event)">
    <!-- Label -->
    <ng-container *ngTemplateOutlet="label_template"/>

    <!-- Sort Indicator -->
    @switch (sortDirection()) {
      @case ('asc') {
        <sci-icon>scion.chevron_up</sci-icon>
      }
      @case ('desc') {
        <sci-icon>scion.chevron_down</sci-icon>
      }
      @default {
        <sci-icon class="no-sort">scion.expand_all</sci-icon>
      }
    }
  </button>
} @else {
  <ng-container *ngTemplateOutlet="label_template"/>
}

<ng-template #label_template>
  <span class="label e2e-label" [class.wrap]="table().wrapHeader()">{{label()}}</span>
</ng-template>
