<main>
  <sci-table [table]="table()" />
</main>

<aside class="e2e-settings">
  <form>
    <label>
      <input [formField]="form.filterable" type="checkbox" />
      Filterable
    </label>

    <label>
      <input [formField]="form.sortable" type="checkbox" />
      Sortable
    </label>

    <label>
      <input [formField]="form.resizable" type="checkbox" />
      Resizable
    </label>

    <label>
      <input [formField]="form.showHeader" type="checkbox" />
      Show Header
    </label>

    <label>
      Selection
      <select [formField]="form.selectionType">
        <option value="multi">Multi</option>
        <option value="single">Single</option>
        <option value="disabled">Disabled</option>
      </select>
    </label>

    <label>
      <input [formField]="form.slowDataSource" type="checkbox" />
      Use Slow DataSource
    </label>
  </form>

  <dl>
    <dt>Active Code:</dt>
    <dd>{{activeItem() ?? '-'}}</dd>

    <dt>Selected Codes:</dt>
    <dd>{{selectedItems()}}</dd>
  </dl>
</aside>
