<main>
  @if (table(); as table) {
    <sci-table [table]="table" />
  }
</main>

<aside class="e2e-settings">
  <form>
    <label>
      <input [formField]="form.filterable" type="checkbox" />
      Filterable
    </label>

    <label>
      <input [formField]="form.sortable" type="checkbox" />
      Sortable
    </label>

    <label>
      <input [formField]="form.resizable" type="checkbox" />
      Resizable
    </label>

    <label>
      <input [formField]="form.showHeader" type="checkbox" />
      Show Header
    </label>

    <label>
      Selection
      <select [formField]="form.selectable">
        <option value="multi">Multi</option>
        <option value="single">Single</option>
        <option value="disabled">Disabled</option>
      </select>
    </label>

    <label>
      <input [formField]="form.slowDataSource" type="checkbox" />
      Use Slow DataSource
    </label>

    <div>
      <label>
        <input type="checkbox" [formField]="form.columns.id" />
        Id
      </label>
      <label>
        <input type="checkbox" [formField]="form.columns.code" />
        Code
      </label>
    </div>
  </form>

  <form>
    <label>
      Company JSON
      <textarea [formField]="updateForm.companyJSON"></textarea>
    </label>
    <button (click)="onUpdate()">Update Company</button>
  </form>

  <dl>
    <dt>Active UUID:</dt>
    <dd>{{activeItem()?.dataId ?? '-'}}</dd>

    <dt>Selected Code Count:</dt>
    <dd>{{selectedItems()?.length}}</dd>
  </dl>
</aside>
