@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  gap: 1em;

  > main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > h1 {
      flex: none;
    }

    > sci-tabbar {
      flex: 1 1 0;

      pre {
        white-space: pre-line;
      }

      textarea {
        @include sci-design.style-input-field();
      }
    }
  }

  > aside {
    flex: none;
    display: grid;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    background-color: var(--sci-color-background-secondary);
    padding: 1em;
    min-width: 350px;

    > sci-tabbar {
      div.tab {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: .25em;
      }

      div.activate-tab {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: .25em;
        place-content: start;
      }

      label {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1em;
        align-items: center;
        user-select: none;
      }

      input, select {
        @include sci-design.style-input-field();
      }
    }
  }
}
