<h1>sci-tabbar (ɵ)</h1>

<sci-tabbar>
  <!-- short content tab -->
  <ng-template sciTab label="Short Content" name="Short Content" *ngIf="form.controls.shortContentTabVisible.value">
    <pre>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis tortor ante, et finibus nunc pellentesque sit amet. Morbi consectetur, lacus gravida egestas posuere, neque nulla sodales sapien, eu volutpat dolor dolor vitae dui. Curabitur vestibulum mi eget elit mollis, ut tristique urna faucibus. Duis iaculis pretium posuere. Duis dictum, lectus nec consectetur mattis, ipsum tellus placerat lacus, sed molestie ligula libero sed nisi. Duis interdum sagittis tellus. Nulla suscipit quis tortor eget accumsan. Ut euismod vehicula aliquet. Quisque cursus ultricies nunc, vitae finibus felis sodales sed. Nunc vitae urna et enim egestas dignissim. Morbi eleifend enim quis iaculis bibendum. Aenean ornare ipsum ut elit ornare dapibus.
    </pre>
  </ng-template>

  <!-- long content tab -->
  <ng-template sciTab label="Long Content" name="Long Content" *ngIf="form.controls.longContentTabVisible.value">
    <h3>Content should show in a viewport</h3>
    <pre>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis tortor ante, et finibus nunc pellentesque sit amet. Morbi consectetur, lacus gravida egestas posuere, neque nulla sodales sapien, eu volutpat dolor dolor vitae dui. Curabitur vestibulum mi eget elit mollis, ut tristique urna faucibus. Duis iaculis pretium posuere. Duis dictum, lectus nec consectetur mattis, ipsum tellus placerat lacus, sed molestie ligula libero sed nisi. Duis interdum sagittis tellus. Nulla suscipit quis tortor eget accumsan. Ut euismod vehicula aliquet. Quisque cursus ultricies nunc, vitae finibus felis sodales sed. Nunc vitae urna et enim egestas dignissim. Morbi eleifend enim quis iaculis bibendum. Aenean ornare ipsum ut elit ornare dapibus.

      In feugiat nisi ex, quis maximus libero placerat nec. Maecenas non tortor non mauris tempor aliquam. Aenean dictum libero ipsum, sit amet varius lorem tincidunt vel. Sed massa ligula, euismod a arcu at, rhoncus consequat est. Vivamus nulla turpis, condimentum sed justo eget, varius gravida mi. Proin tincidunt mattis enim vitae fermentum. Vivamus mauris nunc, pellentesque vitae tempor vitae, cursus eu massa. Quisque in nisi cursus, maximus metus nec, consectetur lacus. Phasellus sed magna in enim ullamcorper laoreet quis sed urna. Donec viverra elit a turpis venenatis, ac dignissim odio pharetra. Pellentesque rhoncus nunc sed tempus sodales. Curabitur eget pellentesque nisi. Mauris scelerisque pretium scelerisque. Donec nec lorem eros.

      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ultricies lobortis blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis lobortis eros eget velit feugiat scelerisque. Curabitur fringilla mi ultrices dignissim volutpat. Etiam vel est non nisl tempus posuere. Morbi ut est et sem malesuada porta iaculis sed diam. Morbi luctus nibh eget mauris interdum, sed malesuada leo varius. Pellentesque aliquam arcu eget felis rhoncus hendrerit. Fusce eleifend tincidunt interdum. Cras ut molestie augue, id fringilla neque. Sed commodo ipsum id sapien gravida, ut fermentum massa pulvinar.

      Maecenas placerat dapibus feugiat. Integer ultricies purus sed faucibus accumsan. Curabitur eu facilisis leo. Proin ornare nunc quis suscipit luctus. Nullam eget facilisis nisl, a egestas nunc. Pellentesque non nisi erat. Aliquam vel dolor sapien.

      Praesent dictum egestas elit. Quisque sodales mi odio, posuere fringilla dolor elementum vel. Pellentesque sed viverra sapien. Etiam ut arcu erat. Phasellus justo risus, rhoncus sed viverra at, pellentesque vel lectus. Nam facilisis lacus mi, at varius tellus pretium in. Nam maximus, massa nec tempor imperdiet, purus dui condimentum dui, vel feugiat tortor eros ut dolor. Praesent ullamcorper ante ac dui dapibus elementum a eu purus. Nam id nisl non est laoreet hendrerit non ut mi. Fusce luctus, metus in tristique accumsan, risus metus ultrices ligula, vitae luctus justo est vel sapien. Aliquam varius, sem et dignissim vulputate, leo justo gravida odio, in elementum orci dolor id turpis.

      Aliquam ut pulvinar mauris. Duis luctus risus ligula, congue finibus augue iaculis vel. Curabitur eleifend at mauris ut vulputate. Pellentesque vehicula elementum diam, in blandit nibh sodales et. Phasellus at magna porttitor, pellentesque lorem quis, eleifend quam. Morbi quis vehicula tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus congue dignissim orci non porttitor. Ut non sollicitudin quam. Curabitur sodales in neque vel pharetra. Maecenas et nisi cursus, tempor nunc et, blandit purus. Fusce et nunc vel nisl tincidunt rutrum in eu libero. Integer dictum pharetra pellentesque. Nullam id viverra eros. Proin feugiat diam sit amet scelerisque consequat.

      Vestibulum pellentesque odio nec volutpat maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin suscipit quam et suscipit ultrices. Donec non libero quis enim facilisis porttitor. Sed vitae laoreet leo. Duis in mauris lacinia nulla ultricies aliquet nec id arcu. Fusce risus mi, rhoncus et rhoncus et, ultrices quis tellus. Mauris facilisis pellentesque enim ut finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt interdum nulla quis hendrerit. Mauris finibus ante nec augue mollis scelerisque sed at velit.

      Sed interdum tincidunt tortor sed fermentum. Suspendisse eget convallis augue, id pharetra nibh. Sed malesuada lorem semper neque pharetra imperdiet. Aenean mollis nibh nec leo pharetra, in hendrerit tellus mollis. Nulla cursus dui nisi, vel vehicula nisl dapibus quis. Sed vel turpis quis risus dignissim tempor quis eu leo. Maecenas eu placerat felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In nec auctor dui. Etiam elementum tincidunt nulla bibendum accumsan. Cras euismod nisi sit amet tristique convallis. Fusce molestie nunc vitae neque laoreet tempus. Pellentesque ultricies pellentesque risus, sed molestie sapien ornare vitae.

      Aliquam nec odio lacus. Mauris turpis turpis, hendrerit quis pharetra sit amet, interdum vitae sem. In tempus ante accumsan magna sollicitudin, non luctus neque pretium. Morbi congue diam id risus placerat malesuada. Cras ullamcorper lacinia condimentum. Phasellus aliquet quam a mauris dictum, feugiat pulvinar tellus ultricies. Etiam vitae rutrum justo. Cras porttitor ligula nunc.

      Integer pellentesque semper erat, sit amet scelerisque quam euismod a. Donec turpis leo, iaculis auctor diam vitae, auctor interdum sapien. Cras vel eros lorem. Ut ac ornare risus. Suspendisse non tellus quis felis fermentum congue id sit amet nunc. Aliquam finibus sem in ullamcorper ultrices. Nam sed ipsum vestibulum, laoreet enim nec, vestibulum dolor. In ornare arcu ante, non interdum neque condimentum non. Mauris non nunc elit. Cras volutpat orci ut laoreet dictum. Suspendisse dictum laoreet mollis.

      Vestibulum suscipit diam at tincidunt tempor. Integer in egestas libero, at molestie odio. Morbi quis urna nibh. Donec sit amet varius nisl. Quisque eleifend arcu eu libero consequat, ut hendrerit nulla tincidunt. Praesent mattis commodo risus. Proin nec libero quam.
    </pre>
  </ng-template>

  <!-- textarea tab -->
  <ng-template sciTab label="Textarea" name="Textarea" *ngIf="form.controls.textareaTabVisible.value">
    <textarea placeholder="Enter some text. The text should be preserved when switching between tabs."></textarea>
  </ng-template>

  <!-- dynamic tabs -->
  <ng-template sciTab *ngFor="let tab of form.controls.dynamicTabs.value  | appSplit:','" [label]="tab" [name]="tab">
    {{tab}}
  </ng-template>

</sci-tabbar>

<form [formGroup]="form">
  <section class="settings">
    <header>Tab Visibility</header>

    <sci-checkbox [formControl]="form.controls.shortContentTabVisible"></sci-checkbox>
    Display short content tab

    <sci-checkbox [formControl]="form.controls.longContentTabVisible"></sci-checkbox>
    Display long content tab

    <sci-checkbox [formControl]="form.controls.textareaTabVisible"></sci-checkbox>
    Display textarea tab
  </section>

  <section class="settings">
    <header>Dynamic Tabs</header>

    <input [formControl]="form.controls.dynamicTabs" placeholder="Comma-separated list of tabs">
  </section>

  <section class="settings">
    <header>Activate Tab</header>

    <sci-form-field label="Tab Name" direction="row">
      <select [formControl]="form.controls.selectedTabName">
        <option value="Short Content">Short Content</option>
        <option value="Long Content">Long Content</option>
        <option value="Textarea">Textarea</option>
        <option *ngFor="let tab of form.controls.dynamicTabs.value  | appSplit:','" [value]="tab">{{tab}}</option>
      </select>
    </sci-form-field>

    <button (click)="onActivateTab()">Activate</button>
  </section>
</form>
