<main>
  <h1>sci-tabbar (ɵ)</h1>

  <sci-tabbar>
    <!-- short content tab -->
    @if (form.controls.shortContentTabVisible.value) {
      <ng-template sciTab label="Short Content" name="Short Content">
        <pre>{{loremIpsumShort}}</pre>
      </ng-template>
    }

    <!-- long content tab -->
    @if (form.controls.longContentTabVisible.value) {
      <ng-template sciTab label="Long Content" name="Long Content">
        <pre>{{loremIpsum}}</pre>
      </ng-template>
    }

    <!-- textarea tab -->
    @if (form.controls.textareaTabVisible.value) {
      <ng-template sciTab label="Textarea" name="Textarea">
        <textarea placeholder="Enter some text. The text should be preserved when switching between tabs."></textarea>
      </ng-template>
    }

    <!-- dynamic tabs -->
    @for (tab of form.controls.dynamicTabs.value | appSplit:','; track tab) {
      <ng-template sciTab [label]="tab" [name]="tab">
        {{tab}}
      </ng-template>
    }
  </sci-tabbar>
</main>

<aside [formGroup]="form">
  <sci-tabbar>
    <ng-template sciTab label="Tab Visible">
      <div class="tab">
        <label>
          <sci-checkbox [formControl]="form.controls.shortContentTabVisible"></sci-checkbox>
          Tab "Short Content"
        </label>

        <label>
          <sci-checkbox [formControl]="form.controls.longContentTabVisible"></sci-checkbox>
          Tab "Long Content"
        </label>

        <label>
          <sci-checkbox [formControl]="form.controls.textareaTabVisible"></sci-checkbox>
          Tab "Textarea"
        </label>
      </div>
    </ng-template>

    <ng-template sciTab label="Dynamic Tabs">
      <div class="tab">
        <input [formControl]="form.controls.dynamicTabs" placeholder="Comma-separated list of tabs">
      </div>
    </ng-template>

    <ng-template sciTab label="Activate Tab">
      <div class="activate-tab">
        <select [formControl]="form.controls.selectedTabName">
          <option value="Short Content">Short Content</option>
          <option value="Long Content">Long Content</option>
          <option value="Textarea">Textarea</option>
          @for (tab of form.controls.dynamicTabs.value | appSplit:','; track tab) {
            <option [value]="tab">{{tab}}</option>
          }
        </select>

        <button (click)="onActivateTab()">Activate</button>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>
