<main>
  <h1>sci-tabbar (ɵ)</h1>

  <sci-tabbar>
    <!-- short content tab -->
    <ng-template sciTab label="Short Content" name="Short Content" *ngIf="form.controls.shortContentTabVisible.value">
      <pre>{{loremIpsumShort}}</pre>
    </ng-template>

    <!-- long content tab -->
    <ng-template sciTab label="Long Content" name="Long Content" *ngIf="form.controls.longContentTabVisible.value">
      <pre>{{loremIpsum}}</pre>
    </ng-template>

    <!-- textarea tab -->
    <ng-template sciTab label="Textarea" name="Textarea" *ngIf="form.controls.textareaTabVisible.value">
      <textarea placeholder="Enter some text. The text should be preserved when switching between tabs."></textarea>
    </ng-template>

    <!-- dynamic tabs -->
    <ng-template sciTab *ngFor="let tab of form.controls.dynamicTabs.value  | appSplit:','" [label]="tab" [name]="tab">
      {{tab}}
    </ng-template>
  </sci-tabbar>
</main>

<aside [formGroup]="form">
  <sci-tabbar>
    <ng-template sciTab label="Tab Visible">
      <div class="tab">
        <label>
          <sci-checkbox [formControl]="form.controls.shortContentTabVisible"></sci-checkbox>
          Tab "Short Content"
        </label>

        <label>
          <sci-checkbox [formControl]="form.controls.longContentTabVisible"></sci-checkbox>
          Tab "Long Content"
        </label>

        <label>
          <sci-checkbox [formControl]="form.controls.textareaTabVisible"></sci-checkbox>
          Tab "Textarea"
        </label>
      </div>
    </ng-template>

    <ng-template sciTab label="Dynamic Tabs">
      <div class="tab">
        <input [formControl]="form.controls.dynamicTabs" placeholder="Comma-separated list of tabs">
      </div>
    </ng-template>

    <ng-template sciTab label="Activate Tab">
      <div class="activate-tab">
        <select [formControl]="form.controls.selectedTabName">
          <option value="Short Content">Short Content</option>
          <option value="Long Content">Long Content</option>
          <option value="Textarea">Textarea</option>
          <option *ngFor="let tab of form.controls.dynamicTabs.value  | appSplit:','" [value]="tab">{{tab}}</option>
        </select>

        <button (click)="onActivateTab()">Activate</button>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>
