@let table = sciTable();
<div class="viewport e2e-viewport" #viewport sciScrollable>
  <div class="grid">
    @if (table.headerVisible()) {
      <header #header>
        @for (column of table.columns; track column.name) {
          <sci-column-header [column]="column" (autoResize)="onResizeAuto(column)" (widthChange)="onResize(column, $event)" />
        }
      </header>
    }
    <div class="rows">
      <!-- Track index to reuse the table row elements -->
      @for (row of visibleRows(); track $index) {
        @let index = table.range().start + $index;
<!--   Translation on wrapper     -->
        <sci-table-row [row]="row" [index]="index" [style.transform]="`translateY(${index * table.itemSize}px)`" />
      } @empty {
        <div class="empty-state">Nothing to show.</div>
      }
    </div>
  </div>
</div>
<sci-scrollbar [direction]="'vscroll'" [viewport]="viewport" class="vscroll" />
<sci-scrollbar [direction]="'hscroll'" [viewport]="viewport"/>
