@let table = sciTable();
<div class="table-header">
  @for (col of table.columns(); track $index) {
    <div class="column-header" #header>
      <button class="column-sort"
              [attr.data-sortable]="table.isSortable() && col.sortable()"
              [attr.data-sort]="sort()[0]?.columnName === col.name && sort()[0]?.direction"
              (click)="onSort(col)">
        {{ col.header() }}
      </button>
      <sci-splitter orientation="vertical"
                    (start)="onResizeStart(col, header)"
                    (move)="onResize(col, $event)"
                    (end)="onResizeEnd()"
                    (reset)="onResizeAuto(col)" />
<!--      <button class="column-resize"-->
<!--              [attr.data-resizable]="table.isResizable() && col.resizable()"-->
<!--              (dblclick)="onResizeDblClick(col)"-->
<!--              (mousedown)="onResizeMouseDown(col, $event)"-->
<!--              tabindex="-1">-->
<!--      </button>-->
    </div>
  }
</div>
<div class="table-body">
  <cdk-virtual-scroll-viewport itemSize="26" sciScrollable #cdkViewport>
    <sci-table-row
      *cdkVirtualFor="let row of items(); let i = index; trackBy: trackBy.bind(this)"
      [row]="row"
      [index]="i"
      [selectedRows]="selectedRowIndices()"
      [activeRow]="activeRow()?.index"
      (activateRow)="onActivateRow(row.item, i)"
      (selectRow)="onSelectRow(row.item, i, $event)"
    />
  </cdk-virtual-scroll-viewport>
  <sci-scrollbar [direction]="'vscroll'" [viewport]="cdkViewport.getElementRef().nativeElement"/>
</div>
