@let table = sciTable();
<div class="viewport e2e-viewport" #viewport sciScrollable>
  <div class="grid">
    @if (table.headerVisible()) {
      <header #header>
        @for (column of table.columns; track column.name) {
          <sci-column-header [column]="column" (autoResize)="onResizeAuto(column)" />
        }
      </header>
    }

    <div class="body">
      <div class="rows" [style.transform]="`translateY(${range().start * table.itemSize}px)`">
        <!-- Track index to reuse the table row elements -->
        @for (row of visibleRows(); track $index) {
          <sci-table-row [row]="row" [index]="range().start + $index" />
        } @empty {
          <div class="empty-state">Nothing to show.</div>
        }
      </div>
    </div>
  </div>
</div>
<sci-scrollbar [direction]="'vscroll'" [viewport]="viewport" class="vscroll" />
<sci-scrollbar [direction]="'hscroll'" [viewport]="viewport"/>
