@use '@scion/components/scrollbar' as sci-scrollbar;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght@24..48,300..400');

:host {
  display: grid;
  background-color: var(--sci-color-background-primary);
  overflow: hidden;
  position: relative; // anchor for the scroll bars
  @include sci-scrollbar.scrollbar-hide-when-inactive();

  > sci-scrollbar {
    @include sci-scrollbar.scrollbar-position();

    &.vscroll-no-filter {
      top: var(--sci-table-header-row-size); // offset header height
    }

    &.vscroll-filter {
      top: calc(var(--sci-table-header-row-size) * 2); // double row size for filters.
    }
  }

  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: var(--ɵsci-table-columns);
    width: var(--ɵsci-table-width);

    > header {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      background-color: var(--sci-color-background-secondary);
      position: sticky;
      top: var(--ɵsci-table-scroll-offset);
    }

    > sci-table-row {
      height: var(--ɵsci-table-item-size);
      border: 1px solid transparent;
      border-bottom-color: var(--sci-color-border);
    }
  }
}
