@use '@scion/components/scrollbar' as sci-scrollbar;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--sci-color-background-primary);

  > div.table-header {
    display: grid;
    grid-template-columns: var(--ɵsci-table-columns);
    height: 30px;
    background-color: var(--sci-color-background-secondary);

    > div.column-header {
      display: flex;
      font-weight: bold;

      > button.column-sort {
        all: unset;
        box-sizing: border-box;
        padding: .25em .5em;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &[data-sortable="true"] {
          cursor: pointer;
        }

        &::after {
          content: '';
          height: 100%;
        }

        &[data-sort="asc"]::after {
          content: '↑';
        }

        &[data-sort="desc"]::after {
          content: '↓';
        }
      }

      > button.column-resize {
        all: unset;
        box-sizing: border-box;
        padding: .5em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        &[data-resizable="true"] {
          cursor: ew-resize;
        }

        &:after {
          content: '';
          width: 2px;
          height: 12px;
          background-color: var(--sci-color-border);
        }
      }
    }
  }

  > div.table-body {
    flex: 1;
    overflow: hidden;
    position: relative;
    @include sci-scrollbar.scrollbar-hide-when-inactive();

    > sci-scrollbar {
      @include sci-scrollbar.scrollbar-position();
    }

    // TODO [eg]: move styling to external stylesheet?
    &::ng-deep .cdk-virtual-scroll-content-wrapper {
      display: grid;
      grid-template-columns: var(--ɵsci-table-columns);
    }
  }
}
