@use '../../theming' as sci-theming;

:host {
  display: grid;
  outline: none;
  grid-template-columns: 100px 1fr;
  gap: .5em .25em;
  align-items: center;
  border: 1px solid var(--sci-color-P400);
  border-radius: 5px;
  padding: 1em;

  &.removable {
    grid-template-columns: 100px 1fr auto;
  }

  > header {
    grid-column: 1/-1;
    display: flex;
    gap: .25em;
    justify-content: flex-end;

    > h2 {
      flex: auto;
      font-size: 1em;
      font-weight: bold;
      margin-top: 0;
    }

    > button {
      flex: none;
    }
  }

  input {
    @include sci-theming.theme-input-field();
  }
}
