:host {
  display: flex;
  gap: 1em;

  > main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  > aside {
    flex: none;
    display: grid;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    background-color: var(--sci-color-background-secondary);
    padding: 1em;
    min-width: 350px;

    > sci-tabbar div.tab {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: .25em;
    }
  }
}
