@use '../../design' as sci-design;

:host {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    > li {
      @include sci-design.style-chip(var(--sci-color-border), var(--sci-qualifier-chip-list-qualifier-background-color, initial), var(--sci-color-text));

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .25em 1em;

      > span.key {
        color: var(--sci-color-text-subtle);
      }

      &::before {
        display: block;
        content: '«qualifier»';
        font-size: smaller;
        margin-bottom: .75em;
        color: var(--sci-color-text-subtlest);
      }
    }

    > li.type {
      @include sci-design.style-chip(var(--sci-color-border), var(--sci-qualifier-chip-list-type-background-color, var(--sci-color-gray-100)), var(--sci-color-text));
      min-width: 75px;

      > span.type {
        font-size: 1.5em;
        font-variant: small-caps;
        font-weight: bold;
      }

      &::before {
        content: '«type»';
        color: var(--sci-color-text-subtlest);
      }
    }
  }
}
