@use '../../design' as sci-design;

:host {
  @include sci-design.style-input-field();
  display: inline-flex;
  padding: .25em .5em;
  gap: .25em;

  > input {
    all: unset;
    flex: auto;
    min-width: 0; // allows the input to shrink past UA minimal width
  }

  > button.clear {
    flex: none;
    align-self: center;
    opacity: .75;
    font-size: 1em;

    &:hover {
      opacity: 1;
    }
  }

  > label.filter-icon {
    flex: none;
    align-self: center;
    user-select: none;
    color: var(--sci-color-text-subtle);
  }

  &:not(:focus-within):not(:hover), &:has(> input:disabled), &.empty {
    > button.clear {
      visibility: hidden;
    }
  }

  &:has(> input:disabled) > label.filter-icon {
    color: var(--sci-color-text-subtlest);
  }
}
