<main>
  <h1>sci-accordion (ɵ)</h1>

  <sci-accordion [variant]="form.controls.variant.value" [multi]="form.controls.multi.value">
    @for (item of items; track item) {
      <!-- item -->
      <ng-template sciAccordionItem [panel]="panel">
        <header>{{item.title}}</header>
      </ng-template>
      <!-- item panel -->
      <ng-template #panel>
        {{item.description}}
      </ng-template>
    }
  </sci-accordion>
</main>

<aside [formGroup]="form">
  <sci-tabbar>
    <ng-template sciTab label="Settings">
      <div class="tab">
        <sci-form-field label="Variant">
          <select [formControl]="form.controls.variant">
            <option value="solid">solid</option>
            <option value="bubble">bubble</option>
          </select>
        </sci-form-field>

        <sci-form-field label="Multi">
          <sci-checkbox [formControl]="form.controls.multi"></sci-checkbox>
        </sci-form-field>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>
