<div cdkAccordion [multi]="multi" class="accordion">
  @for (item of items; track trackByFn($index, item)) {
    <section class="accordion-item e2e-accordion-item"
             [class.e2e-expanded]="cdkAccordionItem.expanded"
             [ngClass]="item.cssClass"
             cdkAccordionItem #cdkAccordionItem="cdkAccordionItem"
             [expanded]="item.expanded ?? false">
      <button (click)="onToggle(cdkAccordionItem)" class="e2e-accordion-item-header">
        <ng-container *ngTemplateOutlet="item.template"></ng-container>
        <span class="e2e-toggle"
              [class.e2e-expand]="!cdkAccordionItem.expanded"
              [class.e2e-collapse]="cdkAccordionItem.expanded"
              sciMaterialIcon>
          {{cdkAccordionItem.expanded ? 'expand_less' : 'expand_more'}}
        </span>
      </button>
      @if (cdkAccordionItem.expanded) {
        <section @enter>
          <ng-container *ngTemplateOutlet="item.panel"></ng-container>
        </section>
      }
    </section>
  }
</div>
