:host {
  display: flex;
  flex-direction: column;
  overflow: hidden; // enable tab content to overflow when encountering a layout constraint

  > sci-viewport.tabbar {
    flex: none;
    height: 2rem;

    &::part(content) {
      display: flex;
      flex-wrap: nowrap;
    }

    > button.tab {
      all: unset;
      flex: none;
      position: relative; // positioning context for div.outline
      cursor: pointer;

      &:focus-visible:not(.selected) > div.outline {
        border: 1px solid var(--sci-color-accent);
      }

      &.selected {
        border-bottom-color: var(--sci-color-accent);
        color: var(--sci-color-accent);
      }

      &:hover:not(.selected) {
        border-bottom-color: var(--sci-color-border-strong);
        color: var(--sci-color-accent);
      }

      > div.outline {
        position: absolute;
        inset: 0;
        pointer-events: none;
      }
    }

    > span.filler {
      flex: auto;
    }

    > button.tab, > span.filler {
      border-bottom: 3px solid var(--sci-color-border);
      padding: 0 1em 0 1em;
    }
  }

  > sci-viewport.tabcontent {
    flex: auto; // do not use `flex: 1 1 0` to support vertical growing of the tabbar according to its tab content height
    margin-top: 1em;
  }
}
