:host {
  display: flex;
  flex-direction: column;

  > sci-viewport.tabbar {
    flex: none;
    height: 2rem;

    &::part(content) {
      display: flex;
      flex-wrap: nowrap;
    }

    > button.tab {
      all: unset;
      flex: none;
      position: relative; // positioning context for div.outline
      cursor: pointer;

      &:focus-visible > div.outline {
        border: 1px solid var(--sci-color-accent);
        box-shadow: 0 0 6px 0 rgba(var(--sci-color-accent-rgb), .25);
      }

      &.selected {
        border-bottom-color: var(--sci-color-accent);
        color: var(--sci-color-accent);
      }

      &:hover:not(.selected) {
        border-bottom-color: var(--sci-color-P400);
        color: var(--sci-color-accent);
      }

      > div.outline {
        position: absolute;
        inset: 0;
        pointer-events: none;
      }
    }

    > span.filler {
      flex: auto;
    }

    > button.tab, > span.filler {
      border-bottom: 3px solid var(--sci-color-P300);
      padding: 0 1em 0 1em;
    }
  }

  > sci-viewport.tabcontent {
    flex: auto;
    margin-top: 1em;
  }
}
