<main>
  <sci-table [table]="table()" />
  <ng-template let-product #cell>
    <span class="material-symbols-outlined custom-cell e2e-custom-cell" [class.up]="product.price > 500" [class.down]="product.price <= 500">
      @if (product.price > 500) {
        trending_up
      } @else {
        trending_down
      }
    </span>
  </ng-template>
</main>

<aside class="e2e-properties">
  <sci-tabbar>
    <ng-template sciTab label="Settings" [cssClass]="'e2e-settings'">
      <form>
        <sci-form-field label="Filterable">
          <input [field]="settingsForm.filterable" type="checkbox" class="e2e-filterable" />
        </sci-form-field>
        <sci-form-field label="Sortable">
          <input [field]="settingsForm.sortable" type="checkbox" class="e2e-sortable" />
        </sci-form-field>
        <sci-form-field label="Resizable">
          <input [field]="settingsForm.resizable" type="checkbox" class="e2e-resizable" />
        </sci-form-field>
        <sci-form-field label="Show Header">
          <input [field]="settingsForm.showHeader" type="checkbox" class="e2e-show-header" />
        </sci-form-field>
        <sci-form-field label="Row Count">
          <input [field]="settingsForm.rowCount" type="number" class="e2e-row-count" />
        </sci-form-field>
      </form>
    </ng-template>

    <ng-template sciTab label="Columns" [cssClass]="'e2e-columns'">
      <form (submit)="onColumnSubmit()">
        <sci-form-field label="Name">
          <input [field]="columnForm.name" class="e2e-column-name">
        </sci-form-field>
        <sci-form-field label="Header">
          <input [field]="columnForm.header" class="e2e-column-header">
        </sci-form-field>
        <sci-form-field label="Column Type">
          <select [field]="columnForm.type" class="e2e-column-type">
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="boolean">Boolean</option>
            <option value="template">Template</option>
            <option value="component">Component</option>
          </select>
        </sci-form-field>
        <sci-form-field label="Custom Sort">
          <input [field]="columnForm.customSort" type="checkbox" class="e2e-column-custom-sort">
        </sci-form-field>
        <sci-form-field label="Custom Filter">
          <input [field]="columnForm.customFilter" type="checkbox" class="e2e-column-custom-filter">
        </sci-form-field>
        <sci-form-field label="Width">
          <input [field]="columnForm.width" class="e2e-column-width">
        </sci-form-field>
        <sci-form-field label="Min Width">
          <input [field]="columnForm.minWidth" class="e2e-column-min-width">
        </sci-form-field>
        <sci-form-field label="Max Width">
          <input [field]="columnForm.maxWidth" class="e2e-column-max-width">
        </sci-form-field>
        <button class="e2e-column-add" type="submit">Add</button>
      </form>
    </ng-template>
  </sci-tabbar>
</aside>
