<main>
  @for (table of tables(); track $index) {
    <sci-table [name]="`table:${$index}`" [table]="table"/>
  }
</main>

<aside class="e2e-properties">
  <sci-tabbar>
    <!-- Columns -->
    <ng-template sciTab label="Columns" cssClass="e2e-columns">
      <div class="columns">
        <form [formRoot]="columnForm" class="add-column" autocomplete="off">
          <label>
            Name
            <input [formField]="$any(columnForm.name)" class="e2e-name" placeholder="column:<string>" appFieldValidation>
          </label>

          <label>
            Header
            <input [formField]="columnForm.header" class="e2e-header" appFieldValidation>
          </label>

          <label>
            Column Type
            <select [formField]="columnForm.type" class="e2e-type" appFieldValidation>
              <option value="string">String</option>
              <option value="number">Number</option>
              <option value="boolean">Boolean</option>
              <option value="template">Template</option>
              <option value="component">Component</option>
              <option value="dynamic">Dynamic</option>
            </select>
          </label>

          @if (columnForm.type().value() === 'component') {
            <label>
              Component
              <select [formField]="columnForm.extras.component" class="e2e-component" appFieldValidation>
                <option value="component:custom-column">custom-column</option>
                <option value="component:custom-input-column">custom-input-column</option>
                <option value="component:custom-button-column">custom-button-column</option>
              </select>
            </label>
          }

          @if (columnForm.type().value() === 'component' || columnForm.type().value() === 'template') {
            <label>
              <input [formField]="columnForm.extras.padding" type="checkbox" class="e2e-padding"/>
              Padding
            </label>
          }

          <label>
            Width
            <input [formField]="columnForm.width" class="e2e-width">
          </label>

          <label>
            Min Width
            <input [formField]="columnForm.minWidth" type="number" class="e2e-min-width">
          </label>

          <label>
            <input [formField]="columnForm.resizable" type="checkbox" class="e2e-resizable"/>
            Resizable
          </label>

          <button class="e2e-column-add" type="submit" [disabled]="columnForm().invalid()">Add</button>
        </form>

        <!-- Visible Columns -->
        @if (columns().length) {
          <section>
            <header>Visible Columns</header>

            @for (column of columns(); track column.name) {
              <label>
                <input [(ngModel)]="column.visible" type="checkbox" [attr.data-column]="column.name" class="e2e-column-visibility"/>
                {{column.name}}
              </label>
            }
          </section>
        }
      </div>
    </ng-template>

    <!-- Settings -->
    <ng-template sciTab label="Settings" cssClass="e2e-settings">
      <form>
        <label>
          <input [formField]="settingsForm.filterable" type="checkbox" class="e2e-filterable"/>
          Filterable
        </label>

        <label>
          <input [formField]="settingsForm.sortable" type="checkbox" class="e2e-sortable"/>
          Sortable
        </label>

        <label>
          <input [formField]="settingsForm.resizable" type="checkbox" class="e2e-resizable"/>
          Resizable
        </label>

        <label>
          <input [formField]="settingsForm.showHeader" type="checkbox" class="e2e-show-header"/>
          Show Header
        </label>

        <label>
          <input [formField]="settingsForm.wrapHeader" type="checkbox" class="e2e-wrap-header"/>
          Wrap Header
        </label>

        <label>
          <input [formField]="settingsForm.showGridlines" type="checkbox" class="e2e-show-gridlines"/>
          Show Gridlines
        </label>

        <label>
          <input [formField]="settingsForm.showRowActions" type="checkbox" class="e2e-row-actions"/>
          Show Row Actions
        </label>

        <label>
          <input [formField]="settingsForm.customRowStyling" type="checkbox" class="e2e-custom-row-styling">
          Custom Row Styling
        </label>

        <label>
          Selectable
          <select [formField]="settingsForm.selectable" class="e2e-selectable">
            <option value="multi">Multi</option>
            <option value="single">Single</option>
            <option value="false">False</option>
          </select>
        </label>

        <label>
          Table Count
          <input [formField]="settingsForm.tableCount" type="number" class="e2e-table-count"/>
        </label>

        <label>
          Header Height
          <input [formField]="settingsForm.headerHeight" type="number" class="e2e-header-height"/>
        </label>

        <label>
          Row Height
          <input [formField]="settingsForm.rowHeight" type="number" class="e2e-row-height"/>
        </label>
      </form>
    </ng-template>

    <!-- Data Source -->
    <ng-template sciTab label="Datasource" cssClass="e2e-datasource">
      <section>
        <label>
          Datasource
          <select [formField]="datasourceForm.datasource" class="e2e-datasource">
            <option value="array">Array</option>
            <option value="array-http">Array (HTTP)</option>
            <option value="loader">Loader</option>
            <option value="loader-delayed">Loader (Delayed)</option>
            <option value="loader-http">Loader (HTTP)</option>
          </select>
        </label>

        <!-- Change of row count is only supported for non-HTTP datasources. -->
        @switch (datasourceForm.datasource().value()) {
          @case ('array')
          @case ('loader')
          @case ('loader-delayed') {
            <label>
              Row Count
              <input [(ngModel)]="rowCount" type="number" class="e2e-row-count"/>
            </label>
          }
        }

        <label>
          Buffer Size
          <input [formField]="datasourceForm.bufferSize" type="number" class="e2e-buffer-size"/>
        </label>

        <label>
          Page Size
          <input [formField]="datasourceForm.pageSize" type="number" class="e2e-page-size"/>
        </label>

        @switch (datasourceForm.datasource().value()) {
          @case ('loader')
          @case ('loader-delayed')
          @case ('loader-http') {
            <label>
              <input [formField]="datasourceForm.simulateError" type="checkbox" class="e2e-simulate-error"/>
              Simulate Error
            </label>
          }
        }
      </section>
    </ng-template>

    <!-- Layout -->
    <ng-template sciTab label="Layout" cssClass="e2e-layout">
      <form>
        <label>
          Height
          <input [formField]="layoutForm.tableHeight" type="number" class="e2e-table-height"/>
        </label>

        <label>
          Width
          <input [formField]="layoutForm.tableWidth" type="number" class="e2e-table-width"/>
        </label>

        <label>
          Max Height
          <input [formField]="layoutForm.tableMaxHeight" type="number" class="e2e-table-max-height"/>
        </label>

        <label>
          Page Height
          <input [formField]="layoutForm.pageHeight" type="number" class="e2e-page-height"/>
        </label>

        <label>
          <input [formField]="layoutForm.tableGrowToBreakpoint" type="checkbox" class="e2e-grow-to-breakpoint"/>
          Grow To Breakpoint
        </label>
      </form>
    </ng-template>
  </sci-tabbar>

  <section class="table-state e2e-table-state">
    <header>Table State</header>

    <label>
      Active Id:
      <output class="e2e-active-item-id">{{activeItemId() ?? '-'}}</output>
    </label>

    <label>
      Selection Count:
      <output class="e2e-selection-count">{{selectedItems()?.length}}</output>
    </label>

    <label>
      Selection:
      <sci-viewport>
        <output class="e2e-selection">{{selection()}}</output>
      </sci-viewport>
    </label>
  </section>
</aside>

<ng-template let-product #custom_column_template>
  <app-custom-column [product]="product"/>
</ng-template>
