:host {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 1em;
  height: var(--table-page-height);

  > main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 1 0;
    overflow-x: hidden; // to not overlay detail panel if table has fixed width

    > sci-table {
      flex: 1 1 0;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: var(--sci-corner);
      box-sizing: content-box;

      @container style(--table-height) {
        flex: none;
        height: var(--table-height);
      }

      @container style(--table-max-height) {
        max-height: var(--table-max-height);
      }

      @container style(--table-width) {
        width: var(--table-width);
      }

      @container style(--table-grow-to-breakpoint: true) {
        flex: 0 1 min-content;
      }

      &::part(row\:negative),
      &::part(column\:negative) {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }

  > aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    background-color: var(--sci-color-background-secondary);
    padding: 1em;

    > sci-tabbar {
      section, form {
        display: flex;
        flex-direction: column;
        gap: .5em;
      }

      div.columns {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }

      header {
        margin-bottom: 1em;
        font-weight: bold;
      }
    }

    > section.table-state {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: .5em 2em;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: 1em;
      background-color: var(--sci-color-background-primary);

      > header {
        grid-column: 1/-1;
        margin-bottom: 1em;
        font-weight: bold;
      }

      > label {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/-1;

        > sci-viewport {
          // Prevent viewport from stretching subgrid column by setting `width: 0` together with `min-width: 100%`
          width: 0; // Used by browser during track sizing to compute preferred width
          min-width: 100%; // Used by browser during rendering; overrides width because min-width takes priority
          max-height: 100px;
        }
      }
    }
  }
}
