@for (sash of sashes$ | async; track sash; let i = $index; let first = $first; let last = $last) {
  <div class="sash"
       [class.first]="first"
       [class.last]="last"
       [sciSashInitializer]="sash"
       [style.flex-grow]="sash.flexGrowNormalized$ | async"
       [style.flex-shrink]="sash.flexShrink"
       [style.flex-basis]="sash.flexBasis">
    <ng-container *ngTemplateOutlet="sash.sashTemplate"/>
  </div>
  @if (!last) {
    <sci-splitter sciElementRef #sciElementRef="sciElementRef"
                  [orientation]="isRowDirection ? 'vertical' : 'horizontal'"
                  (start)="onSashStart()"
                  (move)="onSash(sciElementRef.nativeElement, i, $event)"
                  (end)="onSashEnd()"
                  (reset)="onSashReset(i)"/>
  }
}
