<ng-container *ngFor="let sash of sashes$ | async; index as i; first as first; last as last;">
  <div class="sash"
       [class.first]="first"
       [class.last]="last"
       [sciSashInitializer]="sash"
       [style.flex-grow]="sash.flexGrowNormalized$ | async"
       [style.flex-shrink]="sash.flexShrink"
       [style.flex-basis]="sash.flexBasis">
    <ng-container *ngTemplateOutlet="sash.sashTemplate"></ng-container>
  </div>

  <sci-splitter *ngIf="!last"
                sciElementRef #sciElementRef="sciElementRef"
                [orientation]="isRowDirection ? 'vertical' : 'horizontal'"
                (start)="onSashStart()"
                (move)="onSash(sciElementRef.nativeElement, i, $event)"
                (end)="onSashEnd()"
                (reset)="onSashReset(i)">
  </sci-splitter>
</ng-container>
