@for (sash of sashes(); track sash; let i = $index; let first = $first; let last = $last) {
  <sci-sash [sash]="sash"
            [class.first]="first"
            [class.last]="last"
            [style.flex-grow]="sash.flexProperties().flexGrow"
            [style.flex-shrink]="sash.flexProperties().flexShrink"
            [style.flex-basis]="sash.flexProperties().flexBasis"/>
  @if (!last) {
    <sci-splitter sciElementRef #sciElementRef="sciElementRef"
                  [orientation]="isRowDirection ? 'vertical' : 'horizontal'"
                  (start)="onSashStart()"
                  (move)="onSash(sciElementRef.host, i, $event)"
                  (end)="onSashEnd()"
                  (reset)="onSashReset(i)"/>
  }
}
