:host {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  overflow: hidden;

  /*
   * In the sashbox component (:host), we form a new stacking context to make nested stacking contexts local,
   * preventing nested stacking contexts from leaking the sashbox element boundary.
   *
   * We use `0` as its z-index value. A z-index of `0` is like setting no z-index (auto) at all, except that it
   * still forms a stacking context. Since it has the order `0`, it will not overlap subsequent positioned elements
   * of the same parent stacking context.
   *
   * Rationale for setting a z-index on the splitter:
   * The splitter is a positioned element; thus, it implicitly forms a stacking context that overlaps the subsequent
   * sash (as long as it is statically positioned). But sash content may also contain positioned elements. To prevent
     them from overlapping the splitter, we form a stacking context on the splitter by setting its z-index to `1`.
   *
   * Refer to https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
   * to learn more about stacking contexts.
   */
  z-index: 0;

  * {
    box-sizing: border-box;
  }

  &[data-direction="column"] {
    flex-direction: column;
  }

  &[data-direction="row"] {
    flex-direction: row;
  }

  > sci-sash {
    // flex properties are set programmatically.
  }

  &[data-direction="row"] > sci-sash {
    margin: 0 var(--sci-sashbox-gap);

    &.first {
      margin-left: 0;
    }

    &.last {
      margin-right: 0;
    }
  }

  &[data-direction="column"] > sci-sash {
    margin: var(--sci-sashbox-gap) 0;

    &.first {
      margin-top: 0;
    }

    &.last {
      margin-bottom: 0;
    }
  }

  &.sashing {
    // Avoid overflow when sashing
    max-height: calc(var(--ɵsci-sashbox-max-height) * 1px);
    max-width: calc(var(--ɵsci-sashbox-max-width) * 1px);
  }

  &.sashing > sci-sash {
    pointer-events: none; // e.g. iframes would swallow pointer events
  }

  > sci-splitter {
    --sci-splitter-background-color: var(--sci-sashbox-splitter-background-color);
    --sci-splitter-background-color-hover: var(--sci-sashbox-splitter-background-color-hover);
    --sci-splitter-size: var(--sci-sashbox-splitter-size);
    --sci-splitter-size-hover: var(--sci-sashbox-splitter-size-hover);
    --sci-splitter-touch-target-size: var(--sci-sashbox-splitter-touch-target-size);
    --sci-splitter-cross-axis-size: var(--sci-sashbox-splitter-cross-axis-size);
    --sci-splitter-border-radius: var(--sci-sashbox-splitter-border-radius);
    --sci-splitter-opacity-active: var(--sci-sashbox-splitter-opacity-active);
    --sci-splitter-opacity-hover: var(--sci-sashbox-splitter-opacity-hover);

    flex: none;
    z-index: 1; // see the explanation above why we set this z-index
  }
}
