/**
 * Applies styles to the SCION toolkit library. Import this file from the global styles.scss.
 *
 * Usage:
 * @use 'sci-toolkit-theme';
 *
 * Alternatively, you can provide a custom theme to override individual color palettes (primary, accent, warning) or individual colors.
 * @use 'sci-toolkit-theme' with (
 *   $theme: (
 *     accent: (
 *       50: #E8F5E9,
 *       100: #C8E6C9,
 *       200: #A5D6A7,
 *       300: #81C784,
 *       400: #66BB6A,
 *       500: #4CAF50,
 *       600: #43A047,
 *       700: #388E3C,
 *       800: #2E7D32,
 *       900: #1B5E20,
 *       default: 800,
 *       lighter: 600,
 *       darker: 900,
 *     ),
 *   )
 * );
 */
@use 'sci-toolkit-theming' as sci-theming;
@use 'sci-toolkit-styles' as sci-toolkit-styles;
@use '~@angular/cdk/a11y' as cdk-a11y;
@use '~@angular/cdk/overlay' as cdk-overlay;

$theme: sci-theming.$default-theme !default; // fallback to the default theme if not overwritten
$theme: sci-theming.map-deep-merge(sci-theming.$default-theme, $theme); // merge overwritten theme (if any) with the default theme
@include sci-theming.apply-theme($theme);

@import url('https://fonts.googleapis.com/css?family=Roboto:normal,bold,italic,bolditalic|Roboto+Mono');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@include cdk-a11y.cdk-a11y();
@include cdk-overlay.cdk-overlay();

* {
  box-sizing: border-box;
}

a {
  @include sci-toolkit-styles.link;
}

button.material-icons {
  @include sci-toolkit-styles.mat-icon-button;
}

button:not(.material-icons) {
  @include sci-toolkit-styles.button;
}
