:host {
  display: grid; // stretch the touch-target
  position: relative; // positioning context for 'touch-target'
  background-color: var(--sci-splitter-background-color);
  border-radius: var(--sci-splitter-border-radius);
  place-items: center; // center the touch-target
  align-self: center;

  > div.touch-target {
    position: absolute; // out of the document flow
    display: grid; // stretch the handle
    place-items: center; // center the handle
    pointer-events: auto; // ensure interactable

    > div.handle {
      position: absolute; // out of the document flow
      background-color: var(--sci-splitter-background-color);
      border-radius: var(--sci-splitter-border-radius);
      opacity: var(--sci-splitter-opacity-hover);
      transition-property: width, height;
      transition-timing-function: ease-in;
      transition-duration: 75ms;
    }
  }

  &.vertical {
    width: var(--sci-splitter-size);
    height: var(--sci-splitter-cross-axis-size);

    > div.touch-target {
      width: var(--sci-splitter-touch-target-size);
      height: 100%;

      > div.handle {
        width: var(--sci-splitter-size);
        height: 100%;
      }
    }
  }

  &.horizontal {
    height: var(--sci-splitter-size);
    width: var(--sci-splitter-cross-axis-size);

    > div.touch-target {
      width: 100%;
      height: var(--sci-splitter-touch-target-size);

      > div.handle {
        width: 100%;
        height: var(--sci-splitter-size);
      }
    }
  }

  > div.touch-target:active > div.handle {
    opacity: var(--sci-splitter-opacity-active);
  }

  &.vertical.moving > div.touch-target > div.handle, &.vertical > div.touch-target:hover > div.handle {
    background-color: var(--sci-splitter-background-color-hover);
    width: var(--sci-splitter-size-hover);
  }

  &.horizontal.moving > div.touch-target > div.handle, &.horizontal > div.touch-target:hover > div.handle {
    background-color: var(--sci-splitter-background-color-hover);
    height: var(--sci-splitter-size-hover);
  }
}
