/**
 * Collection of SASS mixins to style SCION toolkit library.
 */

/**
 * Styles Material icon buttons.
 */
@mixin mat-icon-button() {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  padding: 0 0 0 .25em;
  user-select: none;

  &:focus, &:hover {
    color: var(--sci-color-accent);
  }
}

/**
 * Styles buttons.
 */
@mixin button() {
  cursor: pointer;
  padding: .5em 1.5em;
  font-family: inherit;
  color: rgba(51, 51, 51, .8);
  border: 1px solid rgba(51, 51, 51, .5);
  border-radius: 3px;
  background-color: var(--sci-color-background);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus, &:active {
    border-color: var(--sci-color-accent);
    color: var(--sci-color-accent);
    outline: 0;
    box-shadow: 0 0 8px 0 var(--sci-color-A100);
  }

  &:disabled {
    color: rgba(51, 51, 51, .5);
    border-style: dotted;
    cursor: auto;
  }
}

/**
 * Styles input fields.
 */
@mixin input-field($radius: 2px) {
  border: 1px solid var(--sci-color-P400);
  border-radius: $radius;
  padding: .5em;
  outline: 0;
  font-family: inherit;
  font-size: inherit;

  &:focus-within {
    border-color: var(--sci-color-accent);
    box-shadow: 0 0 6px 0 rgba(var(--sci-color-accent-rgb), .25);
  }

  &.inline-editable:not(.ng-invalid) {
    &:not(:focus-within):not(:hover):not(:active) {
      border: 1px solid transparent;
    }

    &:hover:not(:active):not(:focus-within) {
      cursor: pointer;
    }
  }

  &.ng-invalid.ng-touched {
    border-color: var(--sci-color-warn);
    box-shadow: 0 0 6px 0 var(--sci-color-W200);
  }

  &[readonly] {
    color: var(--sci-color-P500);
  }
}

/**
 * Styles a chip.
 */
@mixin chip($border-color, $background-color, $color, $borderStyle: solid) {
  border: 1px $borderStyle $border-color;
  background-color: $background-color;
  color: $color;
  border-radius: 3px;
  padding: .25em .5em;
  font-size: smaller;
  user-select: none;
  margin-bottom: .25em;
  &:not(:last-child) {
    margin-right: .25em;
  }
}

/**
 * Styles a link.
 */
@mixin link($radius: 2px) {
  color: var(--sci-color-A800);
  text-decoration: none;
  outline: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
