@use '@scion/components.internal/design' as sci-design;

:host {
  display: flex;
  gap: 1em;

  --viewport-minheight: unset;
  --viewport-maxheight: unset;
  --viewport-flex: unset;

  > main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > h1 {
      flex: none;
    }

    > sci-viewport {
      flex: var(--viewport-flex);
      min-height: var(--viewport-minheight);
      max-height: var(--viewport-maxheight);
    }
  }

  > aside {
    flex: none;
    display: grid;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    background-color: var(--sci-color-background-secondary);
    padding: 1em;
    min-width: 350px;

    > sci-tabbar {
      div.tab {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: .25em;

        &.content {
          > textarea.content {
            flex: auto;
          }

          > header {
            flex: none;
            font-weight: bold;
            margin-top: 1em;
          }

          > textarea.content-styles {
            flex: none;
            height: 10em;
          }
        }
      }

      textarea {
        @include sci-design.style-input-field;
      }
    }
  }
}
