:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  > sci-icon.menu-down {
    flex: none;
    line-height: .75;
    --sci-icon-size: 1em;
  }

  > span.count {
    flex: none;
    font-size: x-small;
    line-height: .75;
  }
}
