<h1>sci-params-enter (ɵ)</h1>

<sci-params-enter [title]="'title'"
                  [removable]="true"
                  [addable]="true"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [title]="'title'"
                  [removable]="true"
                  [addable]="false"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [title]="'title'"
                  [removable]="false"
                  [addable]="true"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [title]="'title'"
                  [removable]="false"
                  [addable]="false"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [removable]="true"
                  [addable]="true"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [removable]="true"
                  [addable]="false"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [removable]="false"
                  [addable]="true"
                  [paramsFormArray]="formArray">
</sci-params-enter>
<sci-params-enter [removable]="false"
                  [addable]="false"
                  [paramsFormArray]="formArray">
</sci-params-enter>

<button class="print" (click)="onPrint()">Print</button>
<output *ngIf="output">{{output | json}}</output>
