@for (menuItem of menuItems(); track $index) {
  <button [class.open]="activeMenuItem()?.menuItem === menuItem"
          [class]="menuItem.cssClass" class="menu-item"
          [sciAttributes]="menuItem.attributes"
          (mousedown)="onMenuItemMouseDown(menuItem)"
          (click)="onMenuItemClick(menuItem, element)"
          (mouseenter)="onMenuItemMouseEnter(menuItem, element)"
          (mouseleave)="onMenuItemMouseLeave(menuItem)"
          #element>
    {{menuItem.labelText!()}}
  </button>
}
