<header>
  @if (title()) {
    <h2>{{title()}}</h2>
  }
  <!-- add button -->
  @if (addable()) {
    <button (click)="onAdd()" class="e2e-add" type="button" title="Add Entry" sciMaterialIcon>add</button>
  }
  <!-- remove button -->
  @if (removable()) {
    <button (click)="onClear()" class="e2e-clear" type="button" title="Clear All Entries" sciMaterialIcon>clear</button>
  }
</header>

@for (keyValueGroup of keyValueFormArray().controls; track keyValueGroup; let i = $index) {
  <!-- key -->
  @if (keyValueGroup.controls.key.disabled) {
    <!-- readonly -->
    <label [for]="id + '_' + i">{{keyValueGroup.controls.key.value}}</label>
  } @else {
    <!-- editable -->
    <input [formControl]="keyValueGroup.controls.key" class="e2e-key">
  }
  <!-- value -->
  <input [formControl]="keyValueGroup.controls.value" [attr.id]="id + '_' + i" class="e2e-value">
  <!-- 'remove' button -->
  @if (removable()) {
    <button class="e2e-remove" type="button" (click)="onRemove(i)" title="Remove Entry" sciMaterialIcon>remove</button>
  }
}
