:host {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 1em;

  > main {
    display: flex;
    flex-direction: column;
    gap: .25em;

    > sci-tree {
      flex: 1 1 0;
    }

    > sci-tree::part(row\:even) {
      background-color: light-dark(rgb(211 211 211 / 0.25), rgb(66 66 66 / 0.25));
    }
  }

  > aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    border: 1px solid var(--sci-color-border);
    border-radius: var(--sci-corner);
    background-color: var(--sci-color-background-secondary);
    padding: 1em;

    > sci-tabbar {
      flex: auto;

      section, form {
        display: flex;
        flex-direction: column;
        gap: .5em;
      }

      div.button-bar {
        display: flex;
        gap: .5em;
        justify-content: flex-end;
      }

      section.settings {
        > button.reset {
          margin-top: 1.5em;
        }
      }

      section.design-tokens {
        display: flex;
        flex-direction: column;
        gap: .5em;

        > label {
          flex: none;
        }

        > app-design-token-form {
          flex: auto;
          margin-top: 1em;
        }
      }
    }

    > section.tree-state {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: .5em 2em;
      border: 1px solid var(--sci-color-border);
      border-radius: var(--sci-corner);
      padding: 1em;
      background-color: var(--sci-color-background-primary);

      > header {
        grid-column: 1/-1;
        margin-bottom: 1em;
        font-weight: bold;
      }

      > label {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/-1;

        > sci-viewport, > output {
          // Prevent viewport from stretching subgrid column by setting `width: 0` together with `min-width: 100%`
          width: 0; // Used by browser during track sizing to compute preferred width
          min-width: 100%; // Used by browser during rendering; overrides width because min-width takes priority
          max-height: 100px;
        }
      }
    }
  }
}
