:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > output {
    border: 1px solid var(--sci-color-border);
    background-color: var(--sci-color-gray-100);
    border-radius: var(--sci-corner);
    font-family: monospace;
    padding: 1em;
  }
}
