$scrollbar-size: 8px;
$thumb-base-height: 20px;
$thumb-default-size: 60%;
$thumb-hover-size: 100%;

:host {
  display: flex;
  box-sizing: border-box;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  --ɵsci-scrollbar-thumb-position-fr: 0;
  --ɵsci-scrollbar-thumb-size-fr: 0;

  &.vertical {
    flex-direction: column;
    width: $scrollbar-size;
  }

  &.horizontal {
    flex-direction: row;
    height: $scrollbar-size;
  }

  > div.scrolltrack:first-child {
    flex-grow: var(--ɵsci-scrollbar-thumb-position-fr)
  }

  // Hide scrollbar if no overflow.
  &:not(.overflow) {
    display: none;
  }

  // Enlarge thumb on hover or scroll.
  &:hover, &.scrolling {
    > div.thumb-handle > div.thumb {
      background-color: var(--sci-scrollbar-color);
      opacity: .75;

      &.vertical {
        width: $thumb-hover-size;
      }

      &.horizontal {
        height: $thumb-hover-size;
      }
    }
  }

  > div.thumb-handle {
    display: flex;
    flex-grow: var(--ɵsci-scrollbar-thumb-size-fr);
    align-items: center;

    &.vertical {
      flex-direction: column;
      min-height: $thumb-base-height;
    }

    &.horizontal {
      flex-direction: row;
      min-width: $thumb-base-height;
    }

    > div.thumb {
      flex: auto;
      border-radius: 4px;
      background-color: var(--sci-scrollbar-color);
      opacity: .4;
      transition-duration: 125ms;
      transition-property: width, height;
      transition-timing-function: ease-out;

      &.vertical {
        width: $thumb-default-size;
      }

      &.horizontal {
        height: $thumb-default-size;
      }
    }
  }

  > div.scrolltrack:last-child {
    flex-grow: calc(1 - (var(--ɵsci-scrollbar-thumb-position-fr) + var(--ɵsci-scrollbar-thumb-size-fr)));
  }
}
