<!-- scrolltrack for moving the viewport client upwards (paging) -->
<div class="scrolltrack" (mousedown)="onScrollTrackMouseDown($event)"></div>

<!-- scrollthumb -->
<div #thumb_handle
     class="thumb-handle"
     [class.vertical]="vertical()"
     [class.horizontal]="horizontal()"
     (mousedown)="onThumbMouseDown($event)">
  <div class="thumb e2e-thumb"
       [class.vertical]="vertical()"
       [class.horizontal]="horizontal()">
  </div>
</div>

<!-- scrolltrack for moving the viewport client downwards (paging) -->
<div class="scrolltrack" (mousedown)="onScrollTrackMouseDown($event)"></div>
