@use '@scion/components/common';

:host {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: var(--sci-color-background-input);
  padding: .25em;

  &:focus-within:not(:disabled):not(:has(input:disabled)):not(:has(select:disabled)) {
    border-color: var(--sci-color-accent);
  }

  > sci-icon.filter-icon {
    padding-inline: .25em;

    &.active {
      color: var(--sci-color-accent);
    }
  }

  > input, > select {
    all: unset;
    flex: 1;
    width: 0;
    min-width: 0;
    transition: border-color ease-in-out .15s, color ease-in-out .15s;
    background-color: transparent;
    color: var(--sci-color-text);
    appearance: auto;
    box-sizing: border-box;
  }

  > button.clear {
    @include common.icon-button-element-states() {
      padding: 1px;
    }
  }
}