@if (column().filterable()) {
  @let active = filter() !== null && filter() !== '';

  <sci-icon class="filter e2e-filter" [class.active]="active">scion.filter</sci-icon>

  @switch (column().type) {
    @case ('number') {
      <input [(ngModel)]="filter" type="number" #input/>
    }
    @case ('boolean') {
      <input [ngModel]="(filter() | sciColumnFilterBooleanLabel | sciText)()" type="button" #input>
      <sci-icon class="chevron">scion.chevron_down</sci-icon>
    }
    @default {
      <input [(ngModel)]="filter" type="text" #input/>
    }
  }

  @if (active) {
    <button class="clear e2e-clear" (click)="onReset($event)">
      <sci-icon>scion.clear</sci-icon>
    </button>
  }
}
