@use '@scion/components/common';

:host {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--sci-corner);
  border: 1px solid var(--sci-table-border-color);
  transition: border-color ease-in-out .15s, color ease-in-out .15s;
  padding: 4px 6px;
  gap: 0.25em;

  &:focus-within {
    border-color: var(--sci-table-active-color);
  }

  > input {
    all: unset;
    flex: 1;
    appearance: auto;

    // Allow input to shrink below default browser minimal width.
    width: 0; // Force the input to start at 0 and grow.
    min-width: 0; // Remove default min-content constraint.

    color: var(--sci-color-text);

    &:placeholder-shown + button:is(.clear, #sci-reset) {
      visibility: hidden;
    }
  }

  > button.clear {
    @include common.icon-button-element-states() {
      padding: 1px;
    }
  }
}