<main>
  <h1>sci-filter-field (ɵ)</h1>

  <sci-filter-field placeholder="Enter a filter text" [formControl]="form.controls.filterField"></sci-filter-field>
  <output *ngIf="filterText">{{filterText}}</output>
</main>

<aside [formGroup]="form">
  <sci-tabbar>
    <ng-template sciTab label="State">
      <div class="tab">
        <label>
          <sci-checkbox [formControl]="form.controls.state.controls.disabled"></sci-checkbox>
          Disabled
        </label>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>
