:host {
  display: flex;
  flex-direction: column;
  outline: none;

  > sci-filter-field {
    flex: none;

    &.top {
      margin-bottom: .3em;
    }

    &.bottom {
      margin-top: .3em;
    }
  }

  > sci-viewport {
    flex: 1 1 0;
    border: 1px solid var(--sci-color-P400);
    border-radius: 5px;

    &::part(content) {
      display: flex;
      flex-direction: column;
    }

    sci-list-item {
      &:not(:first-child) {
        border-top: 1px solid var(--sci-color-P400);
      }

      &:last-child {
        border-bottom: 1px solid var(--sci-color-P400);
      }
    }
  }
}
