:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;

  > header {
    flex: none;
    display: flex;
    background-color: var(--sci-color-background-secondary);
    border-bottom: 1px solid var(--sci-color-border);
    padding: .25em 1em;
    justify-content: space-between;
    align-items: center;

    > nav > a {
      color: var(--sci-color-text);

      &:not(:last-child)::after {
        content: '|';
        padding: 0 .5em;
        color: var(--sci-color-text);
      }

      &.internal {
        font-style: italic;
      }
    }

    > div.theme-switcher {
      display: flex;
      gap: .25em;
      align-items: center;
      user-select: none;
    }
  }

  > main {
    flex: auto;
    padding: 1em;
    display: grid;

    > router-outlet {
      position: absolute; // out of the document flow
    }
  }
}
