@use 'sass:map';

/**
 * Positions scrollbars absolutely relative to the bounding box of the nearest positioned parent.
 *
 * Invoke from within the 'sci-scrollbar' selector.
 */
@mixin position() {
  position: absolute;

  &.vertical {
    top: 1px;
    right: 1px;
    bottom: 1px;
  }

  &.horizontal {
    left: 1px;
    bottom: 1px;
    right: 1px;
  }
}

/**
 * Hides emulated scrollbars if all the following conditions are met:
 * - host element not hovered (mouse navigation)
 * - host element not active (touch navigation)
 * - not scrolling (ensures the scrollbar to be visible even if dragging the thumb outside of the host element, :active pseudo-class not working in IE and Firefox)
 *
 * Invoke from within the viewport selector.
 */
@mixin hide-when-inactive() {
  &:is(
    :not(:hover):not(:active), // Support "regular" host
    :host(:not(:hover):not(:active)) // Support "shadow" host
  ) sci-scrollbar:not(.scrolling) {
    opacity: 0; // do not use 'display' nor 'visibility' property to fade the scrollbar
  }
}
