:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  > nav {
    flex: none;
    border-bottom: 1px solid var(--sci-color-A900);
    background-color: var(--sci-color-A800);
    box-shadow: 0 0 3px 0 var(--sci-color-primary);
    padding: .25em 1em;

    > a {
      color: var(--sci-color-A50);

      &:not(:last-child)::after {
        content: '|';
        padding: 0 .5em;
        color: var(--sci-color-A50);
      }

      &.internal {
        color: var(--sci-color-W400);
      }
    }
  }

  > main {
    flex: auto;
    padding: 1em;
    display: grid;

    > router-outlet {
      position: absolute; // out of the document flow
    }
  }
}
