<main>
  <sci-sashbox [direction]="formGroup.controls.direction.value"
               [style.--sci-sashbox-gap]="formGroup.controls.styling.controls['--sci-sashbox-gap'].value"
               [style.--sci-sashbox-splitter-background-color]="formGroup.controls.styling.controls['--sci-sashbox-splitter-background-color'].value"
               [style.--sci-sashbox-splitter-background-color-hover]="formGroup.controls.styling.controls['--sci-sashbox-splitter-background-color-hover'].value"
               [style.--sci-sashbox-splitter-size]="formGroup.controls.styling.controls['--sci-sashbox-splitter-size'].value"
               [style.--sci-sashbox-splitter-size-hover]="formGroup.controls.styling.controls['--sci-sashbox-splitter-size-hover'].value"
               [style.--sci-sashbox-splitter-touch-target-size]="formGroup.controls.styling.controls['--sci-sashbox-splitter-touch-target-size'].value"
               [style.--sci-sashbox-splitter-cross-axis-size]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-size'].value"
               [style.--sci-sashbox-splitter-cross-axis-start]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-start'].value"
               [style.--sci-sashbox-splitter-cross-axis-end]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-end'].value"
               [style.--sci-sashbox-splitter-border-radius]="formGroup.controls.styling.controls['--sci-sashbox-splitter-border-radius'].value"
               [style.--sci-sashbox-splitter-opacity-active]="formGroup.controls.styling.controls['--sci-sashbox-splitter-opacity-active'].value"
               [style.--sci-sashbox-splitter-opacity-hover]="formGroup.controls.styling.controls['--sci-sashbox-splitter-opacity-hover'].value"
               (sashEnd)="onSashEnd($event)">
    @for (sash of sashes; track sash; let i = $index) {
      @if (sash.visible) {
        <ng-template sciSash [size]="sash.size" [minSize]="sash.minSize" [key]="sash.key || undefined" [animate]="sash.animate">
          <section class="sash sash-{{i + 1}}">Sash {{i + 1}}</section>
        </ng-template>
      }
    }
  </sci-sashbox>
</main>

<aside>
  <sci-tabbar>
    <ng-template sciTab label="Settings">
      <div class="tab">
        <label>
          Direction
          <select [formControl]="formGroup.controls.direction">
            <option value="column">column</option>
            <option value="row">row</option>
          </select>
        </label>
      </div>
    </ng-template>

    @for (sash of sashes; track sash; let i = $index) {
      <ng-template sciTab [label]="'Sash ' + (i + 1)">
        <div class="tab">
          <label>
            <input [(ngModel)]="sash.visible" type="checkbox"/>
            Visible
          </label>
          <label>
            Size
            <input [(ngModel)]="sash.size" placeholder="Value in any CSS unit or unitless as a ratio">
          </label>
          <label>
            Min size
            <input [(ngModel)]="sash.minSize" placeholder="Value in pixel or percent">
          </label>
          <label>
            Key
            <input [(ngModel)]="sash.key">
          </label>
          <label>
            <input [(ngModel)]="sash.animate" type="checkbox"/>
            Animate
          </label>
        </div>
      </ng-template>
    }

    <ng-template sciTab label="Styling">
      <div class="tab">
        <label>
          --sci-sashbox-gap
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-gap']">
        </label>
        <label>
          --sci-sashbox-splitter-background-color
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-background-color']">
        </label>
        <label>
          --sci-sashbox-splitter-background-color-hover
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-background-color-hover']">
        </label>
        <label>
          --sci-sashbox-splitter-size
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-size']">
        </label>
        <label>
          --sci-sashbox-splitter-size-hover
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-size-hover']">
        </label>
        <label>
          --sci-sashbox-splitter-touch-target-size
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-touch-target-size']">
        </label>
        <label>
          --sci-sashbox-splitter-cross-axis-size
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-size']">
        </label>
        <label>
          --sci-sashbox-splitter-cross-axis-start
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-start']">
        </label>
        <label>
          --sci-sashbox-splitter-cross-axis-end
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-cross-axis-end']">
        </label>
        <label>
          --sci-sashbox-splitter-border-radius
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-border-radius']">
        </label>
        <label>
          --sci-sashbox-splitter-opacity-active
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-opacity-active']">
        </label>
        <label>
          --sci-sashbox-splitter-opacity-hover
          <input [formControl]="formGroup.controls.styling.controls['--sci-sashbox-splitter-opacity-hover']">
        </label>
      </div>
    </ng-template>

    <ng-template sciTab label="Miscellaneous">
      <div class="tab">
        <button (click)="onGlasspaneToggle()" title="Show glasspane to test that splitters do not overlap overlays.">Show glasspane</button>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>

@if (glasspaneVisible()) {
  <div class="glasspane" tabindex="0">
    <button class="close" (click)="onGlasspaneToggle()" sciMaterialIcon>close</button>
  </div>
}
