<main>
  <sci-sashbox [direction]="direction()"
               (sashEnd)="onSashEnd($event)">
    @for (sash of sashes; track sash; let i = $index) {
      @if (sash.visible) {
        <ng-template sciSash [size]="sash.size" [minSize]="sash.minSize" [key]="sash.key || undefined" [animate]="sash.animate">
          <section class="sash sash-{{i + 1}}">Sash {{i + 1}}</section>
        </ng-template>
      }
    }
  </sci-sashbox>
</main>

<aside>
  <sci-tabbar>
    <ng-template sciTab label="Settings">
      <div class="tab">
        <label>
          Direction
          <select [(ngModel)]="direction">
            <option value="column">column</option>
            <option value="row">row</option>
          </select>
        </label>
      </div>
    </ng-template>

    @for (sash of sashes; track sash; let i = $index) {
      <ng-template sciTab [label]="'Sash ' + (i + 1)">
        <div class="tab">
          <label>
            <input [(ngModel)]="sash.visible" type="checkbox"/>
            Visible
          </label>
          <label>
            Size
            <input [(ngModel)]="sash.size" placeholder="Value in any CSS unit or unitless as a ratio">
          </label>
          <label>
            Min size
            <input [(ngModel)]="sash.minSize" placeholder="Value in pixel or percent">
          </label>
          <label>
            Key
            <input [(ngModel)]="sash.key">
          </label>
          <label>
            <input [(ngModel)]="sash.animate" type="checkbox"/>
            Animate
          </label>
        </div>
      </ng-template>
    }

    <ng-template sciTab label="Design Tokens">
      <app-design-token-form [form]="designTokenForm"/>
    </ng-template>

    <ng-template sciTab label="Miscellaneous">
      <div class="tab">
        <button (click)="onGlasspaneToggle()" title="Show glasspane to test that splitters do not overlap overlays.">Show glasspane</button>
      </div>
    </ng-template>
  </sci-tabbar>
</aside>

@if (glasspaneVisible()) {
  <div class="glasspane" tabindex="0">
    <button class="close" (click)="onGlasspaneToggle()" sciMaterialIcon>close</button>
  </div>
}
