@mixin panel {
  border: 1px solid var(--sci-color-P400);
  border-radius: 5px;
  padding: 1em;

  > header {
    grid-column: 1/-1;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  grid-auto-rows: max-content;
  gap: 1em;

  > h1 {
    grid-column: 1/-1;
  }

  > sci-sashbox {
    grid-column: 1/-1;

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.5em;

      &.sash-1 {
        background-color: #ff4d26;
      }

      &.sash-2 {
        background-color: #307eb7;
      }

      &.sash-3 {
        background-color: #ffa21a;
      }
    }
  }

  > section.sashbox-settings {
    grid-column: 1/3;

    @include panel();
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: max-content;
    gap: 1em 3em;
  }

  > section.miscellaneous {
    grid-column: 3/4;
    display: grid;
    gap: 1em 3em;
    grid-auto-rows: max-content;

    @include panel();
  }

  > section.sash-settings {
    @include panel();
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 1em 3em;
  }

  > section.sashbox-styling {
    grid-column: 1/-1;

    @include panel();
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: max-content;
    gap: 1em 3em;
  }

  > div.glasspane {
    position: absolute;
    inset: 0 0 0 0;
    opacity: .75;
    background-color: black;

    > button.close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
    }
  }
}

