@let row = this.row();
@for (cell of row.cells; track cell.columnName) {
  <sci-table-cell [cell]="cell" [row]="row" [isSelected]="isSelected()" #cell/>
} @empty {
  @for (column of table().columns(); track column.name) {
    <div class="skeleton"></div>
  }
}

@let hasRowActions = !!table().rowActions;
@let isRowHovered = table().hoveredRow() === row;
@let isRowActionMenuOpen = rowActionToolbar()?.toolbarMenuOpen();

@if (hasRowActions && (isRowHovered || isRowActionMenuOpen)) {
  <!--eslint-disable-next-line @angular-eslint/template/click-events-have-key-events,@angular-eslint/template/interactive-supports-focus -->
  <sci-toolbar [name]="rowActionsToolbarName" (click)="onActionToolbarClick($event)" class="row-actions"/>
}
