:host {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  height: 26px;
  border: 1px solid transparent;
  border-top-color: var(--sci-color-border);

  &:hover {
    background-color: var(--sci-color-background-elevation-hover);
  }

  &.active {
    border-color: var(--sci-color-border-strong);

    & + div.table-row {
      border-top: 0;
    }
  }

  &.selected {
    background-color: var(--sci-color-background-secondary);
  }

  > div.table-cell {
    padding-inline: .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: center;

    &[data-type="number"] {
      text-align: right;
    }
  }
}