@let row = this.row();
@for (cell of row.cells; track cell.columnName) {
  <sci-table-cell [cell]="cell" [item]="row.item" [isSelected]="isSelected()" #cell/>
} @empty {
  @for (column of table().columns(); track column.name) {
    <div class="skeleton"></div>
  }
}

@if (table().hoveredRow() === row || actionToolbar()?.toolbarMenuOpen()) {
  <!--eslint-disable-next-line @angular-eslint/template/click-events-have-key-events,@angular-eslint/template/interactive-supports-focus -->
  <div class="row-actions" (click)="onActionToolbarClick($event)">
    <sci-toolbar name="toolbar:actions"/>
  </div>
}


<!--  @if (sciTable().rowActions && !resizing()) {-->
<!--    <div class="row-actions" (mouseleave)="onRowActionsMouseLeave($event)" (wheel)="onRowActionsMouseWheel($event)">-->
<!--      <sci-toolbar [name]="rowActionToolbarName()" />-->
<!--    </div>-->
<!--  }-->
