:host {
  display: inline-grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  grid-auto-rows: var(--sci-table-row-height);
  user-select: none; // has to be disabled because of selection
  border-bottom: var(--sci-table-border-size) solid var(--sci-table-border-color);

  &.hover {
    background-color: var(--sci-table-row-hover-color);
  }

  // TODO Disable pointer events while scrolling and resizing, ensuring mouseenter event is fired AND stable UI
  @container (style(--ɵsci-table-scrolling: true)) or (style(--ɵsci-table-resizing: true)) {
    pointer-events: none;
  }

  &.active {
    border-bottom-color: transparent;
    outline: var(--sci-table-border-size) solid var(--sci-table-active-color);
    outline-offset: -1px;
  }

  &.selected {
    background-color: var(--sci-table-row-selected-color);
  }

  &.loading {
    pointer-events: none;
    align-items: center;

    > div.skeleton {
      border-radius: var(--sci-table-skeleton-border-radius);
      background-color: var(--sci-table-skeleton-color);
      height: 1em;
      margin-inline: .5em;
    }
  }

  > sci-toolbar.row-actions {
    position: sticky;
    right: var(--sci-table-cell-horizontal-padding); // prevent hiding vertical scrollbar
    justify-self: end;
    align-self: center;
    background-color: var(--sci-table-background-color);
    border-radius: var(--sci-corner);
    padding: 1px;

    &:empty {
      display: none;
    }
  }
}
