<!-- radio button for option items -->
@if (optionStyle) {
  <span class="option" sciMaterialIcon>
    {{active() ? 'radio_button_checked' : 'radio_button_unchecked'}}
  </span>
}

<!-- item -->
<div class="item e2e-item">
  <ng-container *ngTemplateOutlet="listItem().template"></ng-container>
</div>

<!-- actions -->
@if (listItem().actions().length) {
  <ul class="actions e2e-actions">
    @for (action of listItem().actions(); track action) {
      <li class="e2e-action">
        <ng-container *ngTemplateOutlet="action"></ng-container>
      </li>
    }
  </ul>
}
