<main>
  <div class="table-header">
    <sci-filter-field [(ngModel)]="filter" (ngModelChange)="table.filter($event)"></sci-filter-field>
  </div>
  <sci-table name="table:companies-alt" [table]="table" />
</main>

<aside class="e2e-settings">
  <form>
    <label>
      <input [formField]="form.filterable" type="checkbox" />
      Filterable
    </label>

    <label>
      <input [formField]="form.sortable" type="checkbox" />
      Sortable
    </label>

    <label>
      <input [formField]="form.resizable" type="checkbox" />
      Resizable
    </label>

    <label>
      <input [formField]="form.showHeader" type="checkbox" />
      Show Header
    </label>

    <label>
      Selection
      <select [formField]="form.selectable">
        <option value="multi">Multi</option>
        <option value="single">Single</option>
        <option value="disabled">Disabled</option>
      </select>
    </label>
  </form>
</aside>
