<h1>sci-list (ɵ)</h1>

<sci-list (filter)="onFilter($event)" filterPosition="top">
  @for (listItem of items$ | async; track listItem) {
    <!-- list item -->
    <ng-template sciListItem [actions]="[flag_action]">
      @if (isFlagged(listItem)) {
        <mark>{{listItem}}</mark>
      }
      @else {
        {{listItem}}
      }
    </ng-template>
    <!-- action -->
    <ng-template #flag_action>
      @if (isFlagged(listItem)) {
        <button (click)="onUnflag(listItem)" sciMaterialIcon>check_box</button>
      }
      @else {
        <button (click)="onFlag(listItem)" sciMaterialIcon>check_box_outline_blank</button>
      }
    </ng-template>
  }
</sci-list>
