<h1>sci-list (ɵ)</h1>

<sci-list (filter)="onFilter($event)" filterPosition="top">
  <ng-container *ngFor="let listItem of items$ | async">
    <!-- list item -->
    <ng-template sciListItem [actions]="[flag_action]">
      <mark *ngIf="isFlagged(listItem)">
        {{listItem}}
      </mark>
      <ng-container *ngIf="!isFlagged(listItem)">
        {{listItem}}
      </ng-container>
    </ng-template>

    <!-- action -->
    <ng-template #flag_action>
      <button *ngIf="!isFlagged(listItem)" (click)="onFlag(listItem)" sciMaterialIcon>check_box_outline_blank</button>
      <button *ngIf="isFlagged(listItem)" (click)="onUnflag(listItem)" sciMaterialIcon>check_box</button>
    </ng-template>
  </ng-container>
</sci-list>
